@model IEnumerable<Front_Cooperativa_AbrahamLincoln.Entidades.ICooperativa>
   
@{
    ViewData["Title"] = "Órganos de Gestión - Cooperativa";
    @inject IConfiguration Config
}

@* <!DOCTYPE html> *@
<html>
<head>
    <title>Tu Título</title>


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Enlaza tu archivo CSS -->
    @*     <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/normas.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/acceso.css" /> *@
    @* <link rel="stylesheet" href="~/css/bootstrap.min.css" /> *@
    <!-- Otros elementos del encabezado -->
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                @* <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a> *@
                <img src="/images/logo.png" class="img logo rounded-1 mb-4" />
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#OrganizaciónSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Organización</a>
                        <ul class="collapse list-unstyled" id="OrganizaciónSubmenu">
                            <li>
                                <a href="/EstructuraGobierno/estructuraGobierno">Estructuras de Gobierno</a>
                            </li>
                            <li>
                                <a href="/Directivos/directivo">Directivos</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#ÓrganosdeGestiónSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Órganos de Gestión</a>
                        <ul class="collapse list-unstyled" id="ÓrganosdeGestiónSubmenu">
                            <li>
                                <a href="/Cooperativa/cooperativa">Cooperativa</a>
                            </li>
                            <li>
                                <a href="/Colegio/colegio">Colegio</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#AsambleaGeneralSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Asamblea General</a>
                        <ul class="collapse list-unstyled" id="AsambleaGeneralSubmenu">
                            <li>
                                <a href="/Asamblea/asamblea">Asambleas</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#ConsejoAdministracionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Consejo Administración</a>
                        <ul class="collapse list-unstyled" id="ConsejoAdministracionSubmenu">
                            <li>
                                <a href="/ActaSesionesAdministracion/actaSesionesAdministracion">Actas de Sesiones</a>
                            </li>
                            <li>
                                <a href="/InformacionSocioAdministracion/infoSocioAdministracion">Información al Socio</a>
                            </li>
                            <li>
                                <a href="/ReportesFinancieros/reportesFinancieros">Reportes Financieros</a>
                            </li>
                            <li>
                                @* <a href="#">Proyectos</a> *@

                                <a href="#ProyectoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Proyecto</a>
                                <ul class="collapse list-unstyled" id="ProyectoSubmenu">
                                    <li>
                                        <a href="/InfraestructuraProyecto/infraestructraProyecto">Infraestructura</a>
                                    </li>
                                    <li>
                                        <a href="/OperativosProyectos/operativosProyectos">Operaciones</a>
                                    </li>
                                    <li>
                                        <a href="/PedagogicosProyectos/pedagogicosProyectos">Pedagógicos</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/ContratosAdquisiciones/contratosAdquisiciones">Contratos y Adquisiciones</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#ConsejodeVigilanciaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Consejo de Vigilancia</a>
                        <ul class="collapse list-unstyled" id="ConsejodeVigilanciaSubmenu">
                            <li>
                                <a href="/ActaSesionesVigilancia/actaSesionesVigilancia">Actas de Sesiones</a>
                            </li>
                            <li>
                                <a href="/InformacionSocioVigilancia/informacionSocioVigilancia">Información al Socio</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#ComitéElectoralSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Comité Electoral</a>
                        <ul class="collapse list-unstyled" id="ComitéElectoralSubmenu">
                            <li>
                                <a href="/ProcesosElectorales/procesosElectorales">Procesos Electorales</a>
                            </li>
                            <li>
                                <a href="/InformacionSocioComiteElectoral/informacionSocioComiteElectoral">Información al Socio</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#ComitéEducCoopSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Comité Educ. Coop.</a>
                        <ul class="collapse list-unstyled" id="ComitéEducCoopSubmenu">
                            <li>
                                <a href="/InformacionGeneral/informacionGeneral">Información General</a>
                            </li>
                            <li>
                                <a href="/Conversatorios/conversatorio">Conversatorios</a>
                            </li>
                            <li>
                                <a href="/TalleresInduccion/talleresInduccion">Talleres de Inducción</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#GerenciaGeneralSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gerencia General</a>
                        <ul class="collapse list-unstyled" id="GerenciaGeneralSubmenu">
                            <li>
                                <a href="/InformacionSocioGerencia/informacionSocioGerencia">Información al Socio</a>
                            </li>
                            <li>
                                <a href="/DocumentoProceso/documentoProceso">Procesos</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#ComitésSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Comités</a>
                        <ul class="collapse list-unstyled" id="ComitésSubmenu">
                            <li>
                                <a href="/Apoyo/apoyo">Apoyo</a>
                            </li>
                            <li>
                                <a href="/Especiales/especiales">Especiales</a>
                            </li>
                        </ul>
                    </li>

                    @*Agregando Etiquetas Finales*@
                    <li>
                        <a href="#ReferenciasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Estructura</a>
                        <ul class="collapse list-unstyled" id="ReferenciasSubmenu">
                            <li>
                                <a href="/RevisionEstructura/revisionEstructura">Revisión Estructura</a>
                            </li>
                            <li>
                                <a href="/PabellonDiploma/pabellonDiploma">Pabellón Diploma</a>
                            </li>
                            <li>
                                <a href="/Comedor/comedor">Comedor</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            @* <li class="nav-item">
                                <a class="nav-link" href="/Login/login" id="salir">Salir</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link" href="@Config["Redirecciones:Colegio"]" target="_blank">Colegio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Historia/historia">Historia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Config["Redirecciones:Proveedores"]" target="_blank">Proveedores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/NormasInternas/normasinternas">Normas Legales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/SeguroEstudiantil/seguroEstudiantil">Seguro Estudiantil</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div style="text-align: left; font-size: 15px; font-family: Century Gothic; margin-right: 30px;">@ViewBag.Nombre</div>
            <div style="text-align: right; font-size: 30px; font-family: Century Gothic; margin-right: 30px;">Órganos de Gestión - Cooperativa</div>
            <hr />

            <section class="center">
                <div class="redondeo-tabla">
                    <table class="table table-striped">

                        <th  scope="col">CARGO</th>
                        <th  scope="col">DETALLE</th>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="font-size: 17px; font-weight: bold;">@item.Nombre_Cargo</td>
                                <td>
                                    <ul style="list-style-type: disc;">
                                        <li>Nombre: @item._Nombre</li>
                                        <li>Correo: @item._Correo</li>
                                        <li>Anexo: @item._Anexo </li>
                                    </ul>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </section>

            
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

    <script src="/js/session-timeout.js"></script>
</body>
</html>