@model IEnumerable<Front_Cooperativa_AbrahamLincoln.Entidades.IAsambleas>
@{
    ViewData["Title"] = "Actas de Asamblea";
}

@* <!DOCTYPE html> *@
<html>
<head>
    <title>Tu Título</title>


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Enlaza tu archivo CSS -->
    @*     <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/normas.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/acceso.css" /> *@
    @* <link rel="stylesheet" href="~/css/bootstrap.min.css" /> *@
    <!-- Otros elementos del encabezado -->
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                @* <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a> *@
                <img src="~/images/logo.jpg" class="img logo rounded-circle mb-4" />
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#OrganizaciónSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Organización</a>
                        <ul class="collapse list-unstyled" id="OrganizaciónSubmenu">
                            <li>
                                <a href="https://localhost:7192/EstructuraGobierno/estructuraGobierno">Estructuras de Gobierno</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/Directivos/directivo">Directivos</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#ÓrganosdeGestiónSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Órganos de Gestión</a>
                        <ul class="collapse list-unstyled" id="ÓrganosdeGestiónSubmenu">
                            <li>
                                <a href="https://localhost:7192/Cooperativa/cooperativa">Cooperativa</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/Colegio/colegio">Colegio</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#AsambleaGeneralSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Asamblea General</a>
                        <ul class="collapse list-unstyled" id="AsambleaGeneralSubmenu">
                            <li>
                                <a href="https://localhost:7192/Asamblea/asamblea">Asambleas</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#ConsejoAdministracionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Consejo Administración</a>
                        <ul class="collapse list-unstyled" id="ConsejoAdministracionSubmenu">
                            <li>
                                <a href="https://localhost:7192/ActaSesionesAdministracion/actaSesionesAdministracion">Actas de Sesiones</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/InformacionSocioAdministracion/infoSocioAdministracion">Información al Socio</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/ReportesFinancieros/reportesFinancieros">Reportes Financieros</a>
                            </li>
                            <li>
                                @* <a href="#">Proyectos</a> *@

                                <a href="#ProyectoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Proyecto</a>
                                <ul class="collapse list-unstyled" id="ProyectoSubmenu">
                                    <li>
                                        <a href="https://localhost:7192/InfraestructuraProyecto/infraestructraProyecto">Infraestructura</a>
                                    </li>
                                    <li>
                                        <a href="https://localhost:7192/OperativosProyectos/operativosProyectos">Operaciones</a>
                                    </li>
                                    <li>
                                        <a href="https://localhost:7192/PedagogicosProyectos/pedagogicosProyectos">Pedagógicos</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="https://localhost:7192/ContratosAdquisiciones/contratosAdquisiciones">Contratos y Adquisiciones</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#ConsejodeVigilanciaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Consejo de Vigilancia</a>
                        <ul class="collapse list-unstyled" id="ConsejodeVigilanciaSubmenu">
                            <li>
                                <a href="https://localhost:7192/ActaSesionesVigilancia/actaSesionesVigilancia">Actas de Sesiones</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/InformacionSocioVigilancia/informacionSocioVigilancia">Información al Socio</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#ComitéElectoralSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Comité Electoral</a>
                        <ul class="collapse list-unstyled" id="ComitéElectoralSubmenu">
                            <li>
                                <a href="https://localhost:7192/ProcesosElectorales/procesosElectorales">Procesos Electorales</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/InformacionSocioComiteElectoral/informacionSocioComiteElectoral">Información al Socio</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#ComitéEducCoopSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Comité Educ. Coop.</a>
                        <ul class="collapse list-unstyled" id="ComitéEducCoopSubmenu">
                            <li>
                                <a href="https://localhost:7192/InformacionGeneral/informacionGeneral">Información General</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/Conversatorios/conversatorio">Conversatorios</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/TalleresInduccion/talleresInduccion">Talleres de Inducción</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#GerenciaGeneralSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gerencia General</a>
                        <ul class="collapse list-unstyled" id="GerenciaGeneralSubmenu">
                            <li>
                                <a href="https://localhost:7192/InformacionSocioGerencia/informacionSocioGerencia">Información al Socio</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/DocumentoProceso/documentoProceso">Procesos</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#ComitésSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Comités</a>
                        <ul class="collapse list-unstyled" id="ComitésSubmenu">
                            <li>
                                <a href="https://localhost:7192/Apoyo/apoyo">Apoyo</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/Especiales/especiales">Especiales</a>
                            </li>
                        </ul>
                    </li>

                    @*Agregando Etiquetas Finales*@
                    <li>
                        <a href="#ReferenciasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Estructura</a>
                        <ul class="collapse list-unstyled" id="ReferenciasSubmenu">
                            <li>
                                <a href="https://localhost:7192/RevisionEstructura/revisionEstructura">Revisión Estructura</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/PabellonDiploma/pabellonDiploma">Pabellón Diploma</a>
                            </li>
                            <li>
                                <a href="https://localhost:7192/Comedor/comedor">Comedor</a>
                            </li>
                        </ul>
                    </li>


            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7192/Login/login" id="salir">Salir</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://abrahamlincoln.edu.pe/language/en/home-2/" target="_blank">Colegio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7192/Historia/historia">Historia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://181.65.131.105/proveedoresal" target="_blank">Proveedores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7192/NormasInternas/normasinternas">Normas Legales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://localhost:7192/SeguroEstudiantil/seguroEstudiantil">Seguro Estudiantil</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div style="text-align: right; font-size: 30px; font-family: Century Gothic; margin-right: 30px;">Actas de Asamblea</div>
            <hr />

            <section class="center-pdf">
                <div class="redondeo-tabla">
                    <table class="table table-striped">

                        <th scope="col">NOMBRE</th>
                        <th scope="col">CONVOVATORIA</th>
                        <th scope="col">ACTAS</th>
                        <th scope="col">ANEXOS</th>
                        <th scope="col">ACUERDOS</th>

                        @{var reversedModel = Model.Reverse();}

                        @foreach (var item in reversedModel)
                        {
                            <tr>
                                <td>@item._Nombre @item._Fecha</td>

                                <td class="centrar-contenido">
                                    @{
                                        var archivoConvocatoria = item._Convocatoria;
                                        if (archivoConvocatoria != null)
                                        {
                                            <a href="data:application/pdf;base64,@Convert.ToBase64String(archivoConvocatoria)" download="@item._Nombre @item._Fecha">
                                                <!-- Puedes utilizar un icono como una flecha hacia abajo o cualquier otro icono representativo -->
                                                <img src="~/images/iconopdf.png" alt="Icono PDF" width="30" height="30" style="vertical-align: middle;" />
                                            </a>  
                                        }
                                        else
                                        {
                                            <p></p>
                                        }
                                    }
                                    
                                    @* @item._Convocatoria  *@
                                </td>
                                
                                <td class="centrar-contenido">
                                    @{
                                        var archivoActas = item._Actas;
                                        if (archivoActas != null)
                                        {
                                            <a href="data:application/pdf;base64,@Convert.ToBase64String(archivoActas)" download="@item._Nombre @item._Fecha">
                                                <!-- Puedes utilizar un icono como una flecha hacia abajo o cualquier otro icono representativo -->
                                                <img src="~/images/iconopdf.png" alt="Icono PDF" width="30" height="30" style="vertical-align: middle;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <p></p>
                                        }
                                    }
                                    
                                </td>

                                <td class="centrar-contenido">
                                    @{
                                        var archivoAnexos = item._Anexos;
                                        if (archivoAnexos != null)
                                        {
                                            <a href="data:application/pdf;base64,@Convert.ToBase64String(archivoAnexos)" download="@item._Nombre @item._Fecha">
                                                <!-- Puedes utilizar un icono como una flecha hacia abajo o cualquier otro icono representativo -->
                                                <img src="~/images/iconopdf.png" alt="Icono PDF" width="30" height="30" style="vertical-align: middle;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <p></p>
                                        }
                                    }
                                    
                                </td>

                                <td class="centrar-contenido">
                                    @{
                                        var archivoAcuerdos = item._Acuerdos;
                                        if (archivoAcuerdos != null)
                                        {
                                            <a href="data:application/pdf;base64,@Convert.ToBase64String(archivoAcuerdos)" download="@item._Nombre @item._Fecha">
                                                <!-- Puedes utilizar un icono como una flecha hacia abajo o cualquier otro icono representativo -->
                                                <img src="~/images/iconopdf.png" alt="Icono PDF" width="30" height="30" style="vertical-align: middle;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <p></p>
                                        }
                                    }

                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </section>

        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

